.double-column-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.info-column{
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #5b5e6c;
    padding: 0 5px 0 5px;
}
.profile-box{
    flex: 1 1 30%;
    margin-top: 10px;
}
.chat-management-box{
    margin-top: 10px;
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    min-height: 0;

}
.chat-column{
    flex-basis: 0 0 60%;
    max-width: 60%;
    height: 100%;
}
.info-column h6{
    text-align: center;
    margin-top: 5px;
}