.tab-names{
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    height: 30px;
}
.tab-name{
    flex: 1 1 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    line-height: 30px;
}
.tab-content{
    display: inline-block;
    width: 100%;
    height: calc(100% - 30px);
}
.tab-name.active{
    background-color:rgb(77, 77, 77);
}
.hidden{
    visibility: hidden;
}